<div class="main-footer">
    <div class="pull-right">
        <div class="inline-block hidden-xs"><b>Version</b> 1.0.0</div>
        <div class="inline-block content-lang">
        </div>
    </div>
    <div>
        Copyright 2018 &copy; TransylvaniaHotel. All Rights Reserved.
    </div>
</div>
