@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

<div class="main-header">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="@(Url.Action("Index","Home"))" class="navbar-brand">Transylvania Hotel</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                
            </ul>            
        </div>
    </nav>
</div>