@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <environment include="Development">
                <h3>Exception Details</h3>
                <p>
                    @Html.Raw(Model.Error.ToString().Replace("\r\n", "<br/>"))
                </p>
            </environment>
        </div>
    </div>
</div>
