body .content-wrapper {
  background: url(../../images/background.jpg) no-repeat fixed top;
  background-size: cover;
  opacity: 0.7; }

/* general component */
input[type=checkbox] {
  cursor: pointer; }

.img-site-logo {
  height: 50px;
  margin-top: -15px; }

/* loader */
.loader-overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  display: none; }

.loader-bg {
  background-color: white;
  background-color: white;
  width: 86px;
  height: 86px;
  border-radius: 10px;
  display: block;
  position: absolute;
  margin-left: -42px;
  margin-top: -42px;
  top: 50%;
  left: 50%;
  padding: 23px;
  box-sizing: border-box; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

/* for main layout */
.top-navigation .navbar-brand {
  height: 60px;
  padding: 20px 15px; }

.top-navigation .nav > li > a {
  padding: 20px 20px; }

.top-navigation .nav > li a:hover,
.top-navigation .nav > li a:focus {
  background: transparent; }

.nav .profile-data-container {
  padding: 10px 5px;
  height: 60px; }

.navbar-nav .dropdown-menu {
  margin-top: 60px; }

.top-navigation .navbar-right {
  margin-right: 10px;
  margin-left: 10px; }

/* for gap between button*/
.btn + .btn {
  margin-left: 10px; }

table .dt-body-right {
  text-align: right; }

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

.notice-box .swal-title {
  margin: 0px;
  font-size: 18px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px; }

/* language component */
.content-lang {
  margin-top: -5px;
  padding-left: 10px; }

/* for form */
.form-control.col-xs-5 {
  width: 41.66666667%; }

.span-gapper {
  display: block;
  height: 20px;
  width: 100%;
  margin-bottom: 5px; }
